@CHARSET "UTF-8";
.myipt {
	width: 160px;
	height: 20px;
	border: 1px solid #95B8E7;
	border-radius: 2px;
}

.myipt180 {
	width: 180px;
	height: 20px;
	border: 1px solid #95B8E7;
	border-radius: 2px;
}

.myipt120 {
	width: 180px;
	height: 20px;
	border: 1px solid #95B8E7;
	border-radius: 2px;
}

.myselect100 {
	width: 100px;
	height: 24px;
	border: 1px solid #95B8E7;
	border-radius: 2px;
}

.myselect {
	width: 120px;
	height: 24px;
	border: 1px solid #95B8E7;
	border-radius: 2px;
}

.myselect180 {
	width: 160px;
	height: 24px;
	border: 1px solid #95B8E7;
	border-radius: 2px;
}


.mylabel {
	padding-left: 10px;
}

#stuInfo_form>ul{
	list-style-type: none;
}

#stuInfo_form>ul>li{
	margin : 10px;
}

#stuInfo_form>ul>li>label{
	display:inline-block;
	width:100px;
	text-align: right;
}

#stuInfo_form>ul>li>input{
	width:300px;
	height:24px;
}

#stuInfo_form>ul>li>select{
	width:300px;
	height:28px;
}

#stuInfo_pic_view {
	margin-top: 20px;
}

#stuInfo_pic_view>.stuInfo_pic_view1{
	border:2px dashed #ccc;
	width: 200px;
	height: 200px;
	float:left;
	margin-left:60px;
	background: url("../images/user.png") no-repeat center center;
}

#stuInfo_pic_view>.stuInfo_pic_view2{
	border:2px dashed #ccc;
	width: 395px;
	height: 200px;
	float:left;
	margin-left:40px;
	background: url("../images/card1.png") no-repeat center center;
}

#stuInfo_pic_view>.stuInfo_pic_view3{
	border:2px dashed #ccc;
	width: 395px;
	height: 200px;
	float:left;
	margin-left:40px;
	background: url("../images/card2.png") no-repeat center center;
}

.myerr {
	border : 1px solid red;
}

#stuInfo_form>ul>li>span {
	 color: red;
	 padding-let:20px;
}

.mylbl{
	padding-right: 60px;
	line-height: 30px;
}

.container {
	width: 400px;
	font-family: 微软雅黑;
	font-size: 12px;
	position: absolute;
	top: 10%;
	left: 30%;
	transform: reanslate(-10%, -30%);
}

.container p {
	line-height: 12px;
	line-height: 0px;
	height: 0px;
	margin: 10px;
	color: #bbb
}

.action {
	width: 630px;
	height: 30px;
	margin: 10px 0;
}

.cropped {
	position: absolute;
	right: -230px;
	top: 0;
	width: 200px;
	border: 1px #ddd solid;
	height: 460px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}

.imageBox {
	position: relative;
	height: 468px;
	width: 400px;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0;
}

.imageBox .thumbBox {
	position: absolute;
	top: 40%;
	left: 40%;
	width: 300px;
	height: 300px;
	margin-top: -100px;
	margin-left: -100px;
	box-sizing: border-box;
	border: 1px solid rgb(102, 102, 102);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 400px;
	background: rgba(0, 0, 0, 0.7);
}

.Btnsty_peyton {
	float: right;
	width: 70px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	margin: 0px 2px;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	box-shadow: 0px 0px 5px #B0B0B0;
	border: 0px #fff solid;
}

/*选择文件上传*/
.new-contentarea {
	width: 120px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	float: left;
}

.new-contentarea label {
	width: 100%;
	height: 100%;
	display: block;
}

.new-contentarea input[type=file] {
	width: 120px;
	height: 60px;
	background: #333;
	margin: 0 auto;
	position: absolute;
	right: 50%;
	margin-right: -94px;
	top: 0;
	right /*\**/: 0px\9;
	margin-right /*\**/: 0px\9;
	width /*\**/: 10px\9;
	opacity: 0;
	filter: alpha(opacity = 0);
	z-index: 2;
}

a.upload-img {
	width: 120px;
	display: inline-block;
	margin-bottom: 10px;
	height: 57px;
	line-height: 57px;
	font-size: 20px;
	color: #FFFFFF;
	background-color: #f38e81;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}

.upload-img>label {
	font-size: 20px;
}

a.upload-img:hover {
	background-color: #ec7e70;
}

.tc {
	text-align: center;
}

#camera_errbox b {
	padding-bottom: 15px;
}

.borderstyle {
	-webkit-box-shadow: 0 0 5px 3px rgba(255, 0, 0, .6), 0 0 5px 6px
		rgba(0, 182, 0, .6), 0 0 5px 10px rgba(255, 255, 0, .6);
	-moz-box-shadow: 0 0 5px 3px rgba(255, 0, 0, .6), 0 0 5px 6px
		rgba(0, 182, 0, .6), 0 0 5px 10px rgba(255, 255, 0, .6);
	-ms-box-shadow: 0 0 5px 3px rgba(255, 0, 0, .6), 0 0 5px 6px
		rgba(0, 182, 0, .6), 0 0 5px 10px rgba(255, 255, 0, .6);
	-o-box-shadow: 0 0 5px 3px rgba(255, 0, 0, .6), 0 0 5px 6px
		rgba(0, 182, 0, .6), 0 0 5px 10px rgba(255, 255, 0, .6);
	box-shadow: 0 0 5px 3px rgba(255, 0, 0, .6), 0 0 5px 6px
		rgba(0, 182, 0, .6), 0 0 5px 10px rgba(255, 255, 0, .6);
}

#navy_video {
	float: left;
}

#canvas {
	float: left;
	margin-left: 20px;
}

#index_showphotoDiv {
	display: none;
	background-color: #333;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity =     50);
	opacity: .9;
	z-index: 100;
	position: fixed !important;
	position: absolute;
	_top: expression(eval(document.compatMode &&       document.compatMode ==  
		  'CSS1Compat')?    
            documentElement.scrollTop+    (document.documentElement.clientHeight-this.offsetHeight)/2:document.body.scrollTop+
		    (document.body.clientHeight- this.clientHeight)/2);
}

#video {
	position: fixed;
	top: 10%;
	left: 30%;
	transform: reanslate(-10%, -30%);
	z-index: 999;
	display: none;
}

#index_showphotoDiv>img {
	position: absolute;
	top: 20px;
	right:20px;
	width: 40px;
	height: 40px;
}
