<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ClassInfoMapper">
	<select id="findByStatus" resultType="ClassInfo" parameterType="Integer">
		select cid, cname, tid, cdate, semester, edate, status, remark from classInfo where status=#{0} order by cid
	</select>
	
	<select id="findByPageInfo" resultType="ClassInfo" parameterType="Map">
		select cid, cname, tid, cdate, semester, edate, status, remark from classInfo order by cid desc limit #{pageNo}, #{pageSize}
	</select>
	
	<select id="findByPage" resultMap="classInfoByJson" parameterType="Map">
		select count(1) total, (#{page}-1)*#{rows} pageNo, #{rows} pageSize from classInfo
	</select>
	
	<resultMap type="JsonObject" id="classInfoByJson" autoMapping="true">
		<result column="pageNo" property="pageNo" />
		<result column="pageSize" property="pageSize" />
		<collection property="rows" column="{pageNo=pageNo,pageSize=pageSize}" ofType="ClassInfo" select="findByPageInfo" />
	</resultMap>
</mapper>
